openapi: 3.0.0
info:
  title: 'Note API'
  contact:
    name: 'Developer Team'
    email: developers@initedit.com
  version: 1.0.0
servers:
  - 
    url: 'https://api.note.initedit.com'
    description: 'Production Server'
  - 
    url: 'http://localhost:8000'
    description: 'Local Server'  
paths:
  /info:
    get:
      tags:
        - Info
      summary: 'Return app version details'
      responses:
        '200':
          description: 'App version details'
  /version:
    get:
      tags:
        - Info
      summary: 'Return app version details'
      responses:
        '200':
          description: 'App version details'
  /api/note/routes:
    get:
      tags:
        - Info
      summary: 'Return the list of routes available on server'
      operationId: 2cc2836d55934638f603d41531adc088
      responses:
        '200':
          description: 'List of routes'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRouteResponse'
  '/api/note/{slug}/tab/{tabid}':
    get:
      tags:
        - 'Note API'
      summary: 'Returns the Tab details inside note'
      operationId: 386f4641fa9d086b4235eeb73aab7f38
      parameters:
        -
          name: slug
          in: path
          required: true
          schema:
            type: string
        -
          name: tabid
          in: path
          required: true
          schema:
            type: number
      responses:
        '200':
          description: 'Tab Response Model'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteTabFetchResponse'
        '404':
          description: 'Tab not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteNotFoundModel'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteUnauthorizedResponse'
        '401':
          description: Unthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteUnauthenticatedResponse'
    delete:
      tags:
        - 'Note API'
      summary: 'Deletes single tab inside note'
      operationId: 343735186f7398e834c0516ac44a317e
      parameters:
        -
          name: slug
          in: path
          required: true
          schema:
            type: string
        -
          name: tabid
          in: path
          required: true
          schema:
            type: number
        -
          name: token
          in: header
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 'Note Response Model'
          content:
            application/json:
              schema:
                properties:
                  code: { type: number }
                  error: { nullable: true, type: string }
                  request_at: { type: number }
                type: object
        '404':
          description: 'Note Response Model'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteNotFoundModel'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteUnauthorizedResponse'
        '401':
          description: Unthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteUnauthenticatedResponse'
    patch:
      tags:
        - 'Note API'
      summary: 'updates tab details inside note'
      operationId: 217f9b83eaaf23a3e6b78d729ccdbb1b
      parameters:
        -
          name: slug
          in: path
          required: true
          schema:
            type: string
        -
          name: tabid
          in: path
          required: true
          schema:
            type: number
        -
          name: token
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                title:
                  type: string
                content:
                  type: string
                visibility:
                  type: number
                order_index:
                  type: number
              type: object
      responses:
        '200':
          description: 'Note Response Model'
          content:
            application/json:
              schema:
                properties:
                  code: { type: number }
                  error: { nullable: true, type: string }
                  request_at: { type: number }
                type: object
        '404':
          description: 'Note Response Model'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteNotFoundModel'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteUnauthorizedResponse'
        '401':
          description: Unthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteUnauthenticatedResponse'
  '/api/note/{slug}/tabs':
    get:
      tags:
        - 'Note API'
      summary: 'Returns multiple tabs details inside note'
      operationId: b7b1c0c4c7fbce78b6612a9e42156824
      parameters:
        -
          name: slug
          in: path
          required: true
          schema:
            type: string
        -
          name: ids
          in: query
          description: 'comma seperated tab ids'
          required: true
      responses:
        '200':
          description: 'Multiple Tab Response Model'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteTabArrayFetchResponse'
        '404':
          description: 'Tab not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteNotFoundModel'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteUnauthorizedResponse'
        '401':
          description: Unthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteUnauthenticatedResponse'
    post:
      tags:
        - 'Note API'
      summary: 'creates multiple tabs inside note'
      operationId: 85be618063e3d7dce282598a07adcee5
      parameters:
        -
          name: slug
          in: path
          required: true
          schema:
            type: string
        -
          name: token
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                items:
                  type: array
                  items: { properties: { title: { type: string }, content: { type: string }, visibility: { type: number }, order_index: { type: number } }, type: object }
                  example: [{ title: 'Sample title 1', content: 'Sample content 1', visibility: '1', order_index: '1' }, { title: 'Sample title 1', content: 'Sample content 2', visibility: '1', order_index: '2' }]
              type: object
      responses:
        '200':
          description: 'Note Response Model'
          content:
            application/json:
              schema:
                properties:
                  code: { type: number }
                  error: { nullable: true, type: string }
                  request_at: { type: number }
                  tabs: { type: array, items: { $ref: '#/components/schemas/AppNoteTabWithContentModel' } }
                type: object
        '406':
          description: 'Note Response Model'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteNotFoundModel'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteUnauthorizedResponse'
        '401':
          description: Unthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteUnauthenticatedResponse'
    patch:
      tags:
        - 'Note API'
      summary: 'Updates/Creates multiple tabs details inside note'
      operationId: 9edb43a8456cd6a126748fbee047fb21
      parameters:
        -
          name: slug
          in: path
          required: true
          schema:
            type: string
        -
          name: token
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                items:
                  type: array
                  items: { properties: { id: { nullable: false, type: number }, title: { type: string }, content: { type: string }, visibility: { type: number }, order_index: { type: number } }, type: object }
              type: object
      responses:
        '200':
          description: 'Note Response Model'
          content:
            application/json:
              schema:
                properties:
                  code: { type: number }
                  error: { nullable: true, type: string }
                  request_at: { type: number }
                  tabs: { type: array, items: { oneOf: [{ properties: { code: { type: number }, error: { type: string }, request_at: { type: number }, tabid: { type: number }, tab: { type: number }, old_tab: { description: 'input object in request body', type: object } }, type: object }, { properties: { code: { type: number }, error: { type: string }, request_at: { type: number }, tabid: { type: number }, content: { nullable: true, type: object } }, type: object }] } }
                type: object
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteUnauthorizedResponse'
        '401':
          description: Unthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteUnauthenticatedResponse'
  '/api/note/{slug}/auth':
    post:
      tags:
        - Authentication
      summary: 'Authenticates notes and returns notes basic info'
      operationId: e07cdec9ce944dd219b43e62cc405ba0
      parameters:
        -
          name: slug
          in: path
          required: true
          schema:
            type: string
        -
          name: token
          in: header
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteAuthResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteNotFoundModel'
  '/api/note/{slug}':
    get:
      tags:
        - 'Note API'
      summary: 'Returns notes basic info'
      operationId: 617e9191efc7b9a3238ed3e375b6f145
      parameters:
        -
          name: slug
          in: path
          required: true
          schema:
            type: string
        -
          name: token
          in: header
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 'Note Response Model'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteFetchResponse'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteUnauthorizedResponse'
        '401':
          description: Unthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteUnauthenticatedResponse'
    delete:
      tags:
        - 'Note API'
      summary: 'Deletes the entire notes'
      operationId: f77917d7dc43a3ffc55eff4a63779350
      parameters:
        -
          name: slug
          in: path
          required: true
          schema:
            type: string
        -
          name: token
          in: header
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 'Note Response Model'
          content:
            application/json:
              schema:
                properties:
                  code: { type: number }
                  error: { nullable: true, type: string }
                  request_at: { type: number }
                type: object
        '404':
          description: 'Note not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteNotFoundModel'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteUnauthorizedResponse'
        '401':
          description: Unthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteUnauthenticatedResponse'
    patch:
      tags:
        - 'Note API'
      summary: 'Updates notes basic info,password and its tabs details'
      operationId: 8fd07e79edae3988a72ad942bfce4ada
      parameters:
        -
          name: slug
          in: path
          required: false
          schema:
            type: string
        -
          name: token
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                type:
                  type: string
                  enum: [Public, Protected, Private]
                password:
                  type: string
                items:
                  type: array
                  items: { $ref: '#/components/schemas/AppNoteTabWithContentModel' }
              type: object
      responses:
        '200':
          description: 'Note Response Model'
          content:
            application/json:
              schema:
                properties:
                  code: { type: number }
                  error: { nullable: true, type: string }
                  request_at: { type: number }
                type: object
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteUnauthorizedResponse'
        '401':
          description: Unthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteUnauthenticatedResponse'
  /api/note:
    post:
      tags:
        - 'Note API'
      summary: 'Creates new notes'
      operationId: 3724ee161bcf128a6a30c6122d7983c2
      parameters:
        -
          name: token
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                type:
                  type: string
                  enum: [Public, Protected, Private]
                password:
                  type: string
              type: object
      responses:
        '200':
          description: 'Note Response Model'
          content:
            application/json:
              schema:
                properties:
                  code: { type: number }
                  error: { nullable: true, type: string }
                  message: { type: string }
                  request_at: { type: number }
                type: object
        '400':
          description: 'Note Response Model'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteNotFoundModel'
        '406':
          description: 'Note Response Model'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteNotFoundModel'
        '409':
          description: 'Note Response Model'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteNotFoundModel'
  '/api/note/{slug}/tab':
    post:
      tags:
        - 'Note API'
      summary: 'creates new tab inside note'
      operationId: 9e092618742171e3e0e16b88737659e3
      parameters:
        -
          name: slug
          in: path
          required: true
          schema:
            type: string
        -
          name: token
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                title:
                  type: string
                content:
                  type: string
                visibility:
                  type: number
                order_index:
                  type: number
              type: object
      responses:
        '200':
          description: 'Note Response Model'
          content:
            application/json:
              schema:
                properties:
                  code: { type: number }
                  error: { nullable: true, type: string }
                  request_at: { type: number }
                  tab: { $ref: '#/components/schemas/AppNoteTabWithContentModel' }
                type: object
        '406':
          description: 'Note Response Model'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteNotFoundModel'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteUnauthorizedResponse'
        '401':
          description: Unthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppNoteUnauthenticatedResponse'
components:
  schemas:
    ApiRouteSchema:
      title: 'Route Info Model'
      description: 'Route model'
      properties:
        url:
          description: 'Route URL'
      type: object
    ApiRouteResponse:
      title: 'Route Response Model'
      description: 'Route Response Model'
      properties:
        code:
          description: 'Status Code like HTTP Status code.'
          type: integer
          format: int32
          example: 200
        message:
          description: 'Response message'
        request_at:
          description: 'Time at which request was returned'
        content:
          description: 'List of routes'
          type: array
          items:
            $ref: '#/components/schemas/ApiRouteSchema'
      type: object
    AppResponseInfoModel:
      title: 'Response info model'
      description: 'Response info model'
      properties:
        type:
          type: string
        created_on:
          type: number
        slug:
          type: string
      type: object
    AppNoteNotFoundModel:
      title: 'Note Not Found Response'
      description: 'Not Found Response'
      properties:
        code:
          type: number
        error:
          type: string
        request_at:
          type: number
        content: {  }
      type: object
    AppNoteUnauthorizedResponse:
      example:
        code: 100
        error: Unauthorized
        content: null
        request_at: 1627751783
      allOf:
        -
          $ref: '#/components/schemas/AppNoteNotFoundModel'
    AppNoteUnauthenticatedResponse:
      example:
        code: 100
        error: 'Unautheticated or re-authenticate yourself'
        content: null
        request_at: 1627751783
      allOf:
        -
          $ref: '#/components/schemas/AppNoteNotFoundModel'
    AppNoteTabFetchRequest:
      title: AppNoteTabFetchRequest
      properties:
        slug:
          type: string
        tabid:
          type: number
      type: object
    AppNoteTabModel:
      title: AppNoteTabModel
      properties:
        id:
          nullable: true
          type: number
          format: int32
        slug:
          type: string
        title:
          type: string
        visibility:
          type: number
          enum:
            - 1
            - 0
        order_index:
          type: number
        createdon:
          type: number
        updatedon:
          nullable: true
          type: number
        status:
          type: number
        parent_id:
          nullable: true
          type: number
      type: object
    AppNoteTabWithContentModel:
      allOf:
        -
          $ref: '#/components/schemas/AppNoteTabModel'
        -
          properties:
            content:
              type: string
          type: object
    AppNoteFetchResponse:
      title: AppNoteFetchResponse
      properties:
        code:
          type: number
        error:
          nullable: true
          type: string
        info:
          $ref: '#/components/schemas/AppResponseInfoModel'
        content:
          nullable: true
          type: array
          items:
            $ref: '#/components/schemas/AppNoteTabModel'
        requested_at:
          type: number
      type: object
    AppNoteAuthResponse:
      title: AppNoteAuthResponse
      properties:
        code:
          type: number
        error:
          nullable: true
          type: string
        info:
          $ref: '#/components/schemas/AppResponseInfoModel'
        requested_at:
          type: number
      type: object
    AppNoteTabFetchResponse:
      title: AppNoteTabFetchResponse
      properties:
        code:
          type: number
        error:
          nullable: true
          type: string
        info:
          $ref: '#/components/schemas/AppResponseInfoModel'
        content:
          $ref: '#/components/schemas/AppNoteTabWithContentModel'
        requested_at:
          type: number
      type: object
    AppNoteTabArrayFetchResponse:
      allOf:
        -
          $ref: '#/components/schemas/AppNoteTabFetchResponse'
        -
          properties:
            content:
              nullable: true
              type: array
              items:
                $ref: '#/components/schemas/AppNoteTabWithContentModel'
          type: object
